
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>

<ul>
    <li>@Html.ActionLink("Laptop","Details","Products", new {ProductName = "Laptop"}, null)</li>
    <li>@Html.ActionLink("Computer", "Details", "Products", new { ProductName = "Computer" }, null)</li>
    <li>@Html.ActionLink("Desktop", "Details", "Products", new { ProductName = "Desktop" }, null)</li>
</ul>